trigger:
  branches:
    include:
      - main


pool:
  vmImage: 'ubuntu-latest'

steps:
  # Task para configurar a versão do Node.js
  - task: NodeTool@0
    inputs:
      versionSpec: '20.x'  

  # Task para instalar as dependências e construir a aplicação Node.js
  - script: |
      npm ci               
      npm run build        
    workingDirectory: src/node-app  
    displayName: 'Build Node.js app' 

  # Task para rodar os testes do projeto
  - script: npm test
    workingDirectory: src/node-app  
    displayName: 'Run tests'  

  # Task para publicar os artefatos gerados durante o processo de build
  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: 'src/node-app/dist'  
      ArtifactName: 'node-app'  
